interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://data-api.ecb.europa.eu/service/data/EXR/D.USD.EUR.SP00.A?startPeriod=2024-01-02&endPeriod=2024-01-02&format=jsondata
  response:
    body:
      string: '{"header":{"id":"e044fad3-c714-49a6-a7b7-f2f22bb80940","test":false,"prepared":"2026-05-27T04:31:37.481+02:00","sender":{"id":"ECB"}},"dataSets":[{"action":"Replace","validFrom":"2026-05-27T04:31:37.481+02:00","series":{"0:0:0:0:0":{"attributes":[0,null,0,null,null,null,null,null,null,0,null,null,0,null,0,null,0,0,0,0],"observations":{"0":[1.0956,0,0,null,null]}}}}],"structure":{"links":[{"title":"Exchange
        Rates","rel":"dataflow","href":"https://data-api.ecb.europa.eu:443/service/dataflow/ECB/EXR/1.0"}],"name":"Exchange
        Rates","dimensions":{"series":[{"id":"FREQ","name":"Frequency","values":[{"id":"D","name":"Daily"}]},{"id":"CURRENCY","name":"Currency","values":[{"id":"USD","name":"US
        dollar"}]},{"id":"CURRENCY_DENOM","name":"Currency denominator","values":[{"id":"EUR","name":"Euro"}]},{"id":"EXR_TYPE","name":"Exchange
        rate type","values":[{"id":"SP00","name":"Spot"}]},{"id":"EXR_SUFFIX","name":"Series
        variation - EXR context","values":[{"id":"A","name":"Average"}]}],"observation":[{"id":"TIME_PERIOD","name":"Time
        period or range","role":"time","values":[{"id":"2024-01-02","name":"2024-01-02","start":"2024-01-02T00:00:00.000+01:00","end":"2024-01-02T23:59:59.999+01:00"}]}]},"attributes":{"series":[{"id":"TIME_FORMAT","name":"Time
        format code","values":[{"name":"P1D"}]},{"id":"BREAKS","name":"Breaks","values":[]},{"id":"COLLECTION","name":"Collection
        indicator","values":[{"id":"A","name":"Average of observations through period"}]},{"id":"COMPILING_ORG","name":"Compiling
        organisation","values":[]},{"id":"DISS_ORG","name":"Data dissemination organisation","values":[]},{"id":"DOM_SER_IDS","name":"Domestic
   [...]
