# Hand-crafted fixture matching FMP /profile/{symbol} response shape.
# Based on FMP v3 API documentation. No real API key was used.
interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://financialmodelingprep.com/api/v3/profile/NESN.SW
  response:
    body:
      string: '[{"symbol":"NESN.SW","price":91.52,"beta":0.73,"volAvg":3456789,"mktCap":248234567890,"lastDiv":3.00,"range":"84.80-108.70","changes":-0.24,"companyName":"Nestlé
        S.A.","currency":"CHF","cik":null,"isin":"CH0012221716","cusip":null,"exchange":"Swiss
        Exchange","exchangeShortName":"SIX","industry":"Packaged Foods","website":"https://www.nestle.com","description":"Nestlé
        S.A. manufactures, markets, and distributes various nutrition, health, and
        wellness products worldwide.","ceo":"Mr. Laurent Freixe","sector":"Consumer
        Defensive","country":"CH","fullTimeEmployees":"270000","phone":"41-21-924-21-11","address":"Avenue
        Nestlé 55","city":"Vevey","state":null,"zip":"1800","dcfDiff":null,"dcf":null,"image":"https://images.financialmodelingprep.com/symbol/NESN.SW.png","ipoDate":"1990-01-01","defaultImage":false,"isEtf":false,"isActivelyTrading":true,"isAdr":false,"isFund":false}]'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
version: 1
