# Hand-crafted fixture matching FMP /profile/{symbol} response shape.
# Based on FMP v3 API documentation. No real API key was used.
interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://financialmodelingprep.com/api/v3/profile/AAPL
  response:
    body:
      string: '[{"symbol":"AAPL","price":189.30,"beta":1.24,"volAvg":56729526,"mktCap":2937281970000,"lastDiv":0.96,"range":"164.08-199.62","changes":1.34,"companyName":"Apple
        Inc.","currency":"USD","cik":"0000320193","isin":"US0378331005","cusip":"037833100","exchange":"NASDAQ
        Global Select","exchangeShortName":"NASDAQ","industry":"Consumer Electronics","website":"https://www.apple.com","description":"Apple
        Inc. designs, manufactures, and markets smartphones, personal computers, tablets,
        wearables, and accessories worldwide.","ceo":"Mr. Timothy D. Cook","sector":"Technology","country":"US","fullTimeEmployees":"161000","phone":"408-996-1010","address":"One
        Apple Park Way","city":"Cupertino","state":"CA","zip":"95014","dcfDiff":53.34,"dcf":135.96,"image":"https://images.financialmodelingprep.com/symbol/AAPL.png","ipoDate":"1980-12-12","defaultImage":false,"isEtf":false,"isActivelyTrading":true,"isAdr":false,"isFund":false}]'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
version: 1
