# Hand-crafted cassette for MSFT refresh skip.
# filings_log pre-seeded with filing_date=2023-07-27.
# skip-check returns fillingDate=2023-07-27 → same as known → ticker skipped.
# No further HTTP calls needed.
interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://financialmodelingprep.com/api/v3/income-statement/MSFT?period=annual&limit=1
  response:
    body:
      string: '[{"date":"2023-06-30","symbol":"MSFT","reportedCurrency":"USD","cik":"0000789019","fillingDate":"2023-07-27","calendarYear":"2023","period":"FY","revenue":211915000000.0,"costOfRevenue":65863000000.0,"grossProfit":146052000000.0,"operatingExpenses":52237000000.0,"operatingIncome":88523000000.0,"ebitda":102140000000.0,"interestExpense":1864000000.0,"incomeTaxExpense":10978000000.0,"netIncome":72361000000.0,"depreciationAndAmortization":13520000000.0,"weightedAverageShsOutDil":7449000000.0}]'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
version: 1
